
body{
  background-color: aqua;
}
td{
  text-align: center;
}
a:link, a:visited {
  background-color: #f0a1cc;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 85px;
}
a:hover, a:active {
  background-color: rgb(204, 115, 226);
}

header{
  background-color: rgb(30, 121, 101);
  padding: 0px;
  border: 0px;
  margin: 0%;
  content: 10px 10px;
}